body {
  background-color: #777;
}

.card-container {
  display: grid;
  grid-gap: 5rem;
  flex-direction: column;
  grid-template-columns: repeat(3, 1fr);
  color: #ffffff;
}

.card {
  height: 50vh;
  width: 15rem;
  background-color: #ffffff;
  border-radius: 8px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.card .card-header {
  height: 35%;
  padding: 1px;
  border-radius: 5px 5px 0 0;
}

.card:nth-of-type(1) > div:nth-child(1) {
  background: url("img/lightscape-LtnPejWDSAY-unsplash.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card:nth-of-type(2) > div:nth-child(1) {
  background: url("img/man-standing-on-cliff-1542140.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card:nth-of-type(3) > div:nth-child(1) {
  background: url("img/aerial-photography-of-city-beside-sea-3019893.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.card:nth-of-type(1) > div:nth-child(2) {
  padding: 0;
}

.card:nth-of-type(2) > div:nth-child(2) > div:nth-child(5) {
  margin-top: 80px;
}

.card:nth-of-type(3) > div:nth-child(2) {
  padding: 1px;
}

.card:nth-of-type(3) > div:nth-child(2) > div:nth-child(5) {
  margin-top: 53px;
}

a {
  text-decoration: none;
  background-color: rgb(175, 175, 175);
  padding: 0.8rem;
  border-radius: 1.8rem;
  color: #ffff;
  font-size: 1rem;
  margin-top: 15px;
}

.duration {
  margin-top: 1rem;
  color: rgb(73, 94, 160);
}

.months {
  color: rgb(146, 143, 143);
}

.tour {
  margin-top: 1.4rem;
  font-size: 1.5rem;
  color: rgb(58, 119, 121);
}

.price {
  margin-top: 1.6rem;
  font-size: 1.2rem;
  color: rgb(95, 136, 79);
}

.map {
  margin-top: 1.3rem;
  color: #ad5830;
}
